In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
county_attr = pd.read_csv("./us-counties-attributes.csv")
county_attr

,countyFIPS,county,stateFIPS,state,TOT_POP,TOT_HH,PCT_CHLDN,PCT_YOUTH,PCT_AD,PCT_SR,...,PCT_WHLS_TRA,PCT_RET_TRA,PCT_TRANS,PCT_INFO,PCT_FIN,PCT_PRO,PCT_EDU,PCT_REC,PCT_OTHERS,PCT_PUB_ADMIN
0,1001,Autauga,1,AL,55200,21115,19.7,13.0,52.8,14.6,...,2.7,8.9,7.0,1.6,6.3,8.9,20.1,8.1,6.2,10.3
1,1003,Baldwin,1,AL,208107,78622,18.1,11.3,51.0,19.5,...,3.1,13.7,4.9,1.4,7.4,10.6,20.1,10.1,4.9,5.1
2,1005,Barbour,1,AL,25782,9186,17.5,12.0,52.5,17.9,...,2.8,10.6,6.9,0.2,4.0,4.8,18.6,5.9,4.4,7.1
3,1007,Bibb,1,AL,22527,6840,16.6,13.3,53.9,16.2,...,1.7,9.1,4.9,1.3,4.6,4.7,22.8,4.4,7.5,5.3
4,1009,Blount,1,AL,57645,20600,19.2,11.9,51.1,17.7,...,3.6,11.8,6.9,1.3,5.8,7.7,19.7,4.6,6.0,4.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,Sweetwater,56,WY,44117,15871,22.6,13.4,53.6,10.7,...,3.0,10.4,9.3,1.5,2.9,5.2,20.0,10.1,3.9,3.9
3138,56039,Teton,56,WY,23059,9158,16.8,8.8,60.8,13.6,...,1.2,8.4,2.9,1.3,6.2,11.1,18.6,28.1,5.3,3.4
3139,56041,Uinta,56,WY,20609,7735,24.7,12.7,50.5,12.1,...,2.2,10.0,9.4,1.6,4.0,3.8,26.4,8.2,3.7,4.5
3140,56043,Washakie,56,WY,8129,3422,18.2,12.1,48.9,20.7,...,3.0,10.1,6.5,1.1,3.7,4.3,21.0,8.6,7.8,5.5
3141,56045,Weston,56,WY,7100,3062,18.1,11.2,51.7,18.9,...,1.3,9.4,8.8,0.7,4.7,3.5,20.7,6.1,2.1,5.7

In [3]:
county_case = gpd.read_file("./nyt_counties_data.geojson")
county_case

,NAME,state_name,population,fips,dt_first_case,dt_first_death,cases_ts,deaths_ts,today_case,today_new_case,today_death,today_new_death,start,end,dt_unit,change_ts,geometry
0,Bladen,North Carolina,33778,37017,2020-04-03,2020-05-06,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",1611.0,27.0,23.0,1.0,2020-01-21,2020-12-17,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","MULTIPOLYGON (((-78.90200 34.83527, -78.79960 ..."
1,Stanly,North Carolina,61114,37167,2020-03-20,2020-04-09,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",3689.0,54.0,78.0,0.0,2020-01-21,2020-12-17,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","MULTIPOLYGON (((-80.49738 35.20210, -80.29542 ..."
2,Summit,Ohio,541810,39153,2020-03-14,2020-03-27,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",23394.0,491.0,480.0,11.0,2020-01-21,2020-12-17,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","MULTIPOLYGON (((-81.68699 41.13596, -81.68495 ..."
3,Sullivan,Pennsylvania,6177,42113,2020-04-04,2020-10-14,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",115.0,2.0,2.0,0.0,2020-01-21,2020-12-17,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","MULTIPOLYGON (((-76.81373 41.59003, -76.22014 ..."
4,Upshur,Texas,40769,48459,2020-03-20,2020-07-25,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",1452.0,40.0,27.0,1.0,2020-01-21,2020-12-17,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","MULTIPOLYGON (((-95.15274 32.66095, -95.15211 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3212,Seward,Nebraska,17127,31159,2020-04-05,2020-04-21,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",1045.0,4.0,19.0,0.0,2020-01-21,2020-12-17,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","MULTIPOLYGON (((-97.36812 41.04695, -96.91094 ..."
3213,Burke,North Carolina,89712,37023,2020-03-25,2020-04-05,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",5270.0,29.0,73.0,0.0,2020-01-21,2020-12-17,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","MULTIPOLYGON (((-81.90665 35.88338, -81.94319 ..."
3214,Sumter,Georgia,30352,13261,2020-03-20,2020-03-28,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",1516.0,1.0,73.0,0.0,2020-01-21,2020-12-17,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","MULTIPOLYGON (((-84.43301 32.04196, -84.43121 ..."
3215,Kansas City,Missouri,491918,00000,2020-03-20,2020-04-02,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",27447.0,232.0,326.0,1.0,2020-01-21,2020-12-17,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","POLYGON ((-94.44849 38.93168, -94.44869 38.928..."
3216,New York City,New York,8443713,00000,2020-03-01,2020-03-14,"0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....","0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0....",373320.0,3211.0,24613.0,35.0,2020-01-21,2020-12-17,day,"0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...","POLYGON ((-74.24921 40.54506, -74.21684 40.558..."

In [4]:
county_case = county_case[["NAME","state_name","fips","today_case","today_death"]]
county_case['fips'] = county_case['fips'].astype(int) 
county_case

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

               NAME      state_name   fips  today_case  today_death
0            Bladen  North Carolina  37017      1611.0         23.0
1            Stanly  North Carolina  37167      3689.0         78.0
2            Summit            Ohio  39153     23394.0        480.0
3          Sullivan    Pennsylvania  42113       115.0          2.0
4            Upshur           Texas  48459      1452.0         27.0
...             ...             ...    ...         ...          ...
3212         Seward        Nebraska  31159      1045.0         19.0
3213          Burke  North Carolina  37023      5270.0         73.0
3214         Sumter         Georgia  13261      1516.0         73.0
3215    Kansas City        Missouri      0     27447.0        326.0
3216  New York City        New York      0    373320.0      24613.0

[3217 rows x 5 columns]

In [5]:
county_df = pd.merge(county_case, county_attr, how='right', left_on=['fips'], right_on = ['countyFIPS'])
county_df

,NAME,state_name,fips,today_case,today_death,countyFIPS,county,stateFIPS,state,TOT_POP,...,PCT_WHLS_TRA,PCT_RET_TRA,PCT_TRANS,PCT_INFO,PCT_FIN,PCT_PRO,PCT_EDU,PCT_REC,PCT_OTHERS,PCT_PUB_ADMIN
0,Bladen,North Carolina,37017.0,1611.0,23.0,37017,Bladen,37,NC,33778,...,1.0,11.7,4.3,0.7,2.6,5.3,23.9,6.6,3.6,7.0
1,Stanly,North Carolina,37167.0,3689.0,78.0,37167,Stanly,37,NC,61114,...,2.1,12.1,3.9,0.9,4.7,6.3,24.2,6.3,5.9,5.4
2,Summit,Ohio,39153.0,23394.0,480.0,39153,Summit,39,OH,541810,...,3.3,12.5,4.9,1.9,6.5,10.3,23.6,9.4,4.7,2.9
3,Sullivan,Pennsylvania,42113.0,115.0,2.0,42113,Sullivan,42,PA,6177,...,1.5,10.2,7.0,1.4,2.7,5.2,21.6,6.7,3.7,5.2
4,Upshur,Texas,48459.0,1452.0,27.0,48459,Upshur,48,TX,40769,...,3.1,14.6,5.9,0.7,4.1,9.1,21.9,5.7,6.0,3.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3142,NaN,NaN,NaN,NaN,NaN,36081,Queens,36,NY,2298513,...,2.3,9.8,8.6,2.6,7.9,11.1,24.3,11.7,6.5,4.2
3143,NaN,NaN,NaN,NaN,NaN,36085,Richmond,36,NY,474101,...,1.7,10.0,7.2,2.4,9.3,11.4,30.1,7.0,4.1,6.7
3144,NaN,NaN,NaN,NaN,NaN,51620,Franklincity,51,VA,8211,...,2.8,12.3,4.8,0.6,4.9,7.5,29.0,5.0,3.5,10.6
3145,NaN,NaN,NaN,NaN,NaN,51760,Richmondcity,51,VA,223787,...,1.7,10.8,4.3,1.9,8.0,14.3,26.4,11.3,5.2,5.6
3146,NaN,NaN,NaN,NaN,NaN,51770,Roanokecity,51,VA,99621,...,3.0,12.0,5.1,1.8,7.6,9.0,23.6,12.2,5.1,4.0

In [6]:
county_df = county_df[["county","fips","state","state_name","today_case","today_death","TOT_POP","TOT_HH","PCT_CHLDN","PCT_YOUTH","PCT_AD",
                       "PCT_SR","PCT_WHT","PCT_NWHT","MED_HH_INC","PCT_BLW_POV_RT"]]
county_df

,county,fips,state,state_name,today_case,today_death,TOT_POP,TOT_HH,PCT_CHLDN,PCT_YOUTH,PCT_AD,PCT_SR,PCT_WHT,PCT_NWHT,MED_HH_INC,PCT_BLW_POV_RT
0,Bladen,37017.0,NC,North Carolina,1611.0,23.0,33778,13968,17.2,11.3,51.6,20.0,58.0,42.0,32378,20.7
1,Stanly,37167.0,NC,North Carolina,3689.0,78.0,61114,23717,17.8,12.4,51.5,18.4,85.6,14.4,49590,10.1
2,Summit,39153.0,OH,Ohio,23394.0,480.0,541810,224385,17.4,12.7,52.9,17.0,81.5,18.5,55448,9.4
3,Sullivan,42113.0,PA,Pennsylvania,115.0,2.0,6177,2721,9.1,11.4,52.6,26.9,95.1,4.9,47346,6.3
4,Upshur,48459.0,TX,Texas,1452.0,27.0,40769,14036,20.0,12.3,50.3,17.4,87.5,12.5,50906,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3142,Queens,NaN,NY,NaN,NaN,NaN,2298513,779234,17.1,11.3,56.7,14.9,41.2,58.8,64987,10.5
3143,Richmond,NaN,NY,NaN,NaN,NaN,474101,166152,18.2,12.5,53.9,15.5,76.3,23.7,79267,10.6
3144,Franklincity,NaN,VA,NaN,NaN,NaN,8211,3526,21.2,9.9,50.0,18.7,38.9,61.1,40375,10.0
3145,Richmondcity,NaN,VA,NaN,NaN,NaN,223787,89846,15.5,15.5,56.5,12.4,47.8,52.2,45117,17.7
3146,Roanokecity,NaN,VA,NaN,NaN,NaN,99621,42037,18.8,10.9,54.4,15.9,65.8,34.2,43028,16.0

In [7]:
county_df = county_df[county_df["today_case"].isna() == False]
county_df

,county,fips,state,state_name,today_case,today_death,TOT_POP,TOT_HH,PCT_CHLDN,PCT_YOUTH,PCT_AD,PCT_SR,PCT_WHT,PCT_NWHT,MED_HH_INC,PCT_BLW_POV_RT
0,Bladen,37017.0,NC,North Carolina,1611.0,23.0,33778,13968,17.2,11.3,51.6,20.0,58.0,42.0,32378,20.7
1,Stanly,37167.0,NC,North Carolina,3689.0,78.0,61114,23717,17.8,12.4,51.5,18.4,85.6,14.4,49590,10.1
2,Summit,39153.0,OH,Ohio,23394.0,480.0,541810,224385,17.4,12.7,52.9,17.0,81.5,18.5,55448,9.4
3,Sullivan,42113.0,PA,Pennsylvania,115.0,2.0,6177,2721,9.1,11.4,52.6,26.9,95.1,4.9,47346,6.3
4,Upshur,48459.0,TX,Texas,1452.0,27.0,40769,14036,20.0,12.3,50.3,17.4,87.5,12.5,50906,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3132,AllenParish,22003.0,LA,Louisiana,2319.0,71.0,25661,7920,18.8,11.3,56.0,14.1,76.3,23.7,41009,15.4
3133,Benson,38005.0,ND,North Dakota,914.0,16.0,6886,2285,29.7,13.4,43.7,13.1,43.2,56.8,44313,24.9
3134,Seward,31159.0,NE,Nebraska,1045.0,19.0,17127,6596,19.6,17.1,46.7,16.7,97.8,2.2,67591,4.1
3135,Burke,37023.0,NC,North Carolina,5270.0,73.0,89712,34672,15.6,12.8,52.4,19.2,86.3,13.7,42516,13.8
3136,Sumter,13261.0,GA,Georgia,1516.0,73.0,30352,11758,19.5,17.8,46.9,16.0,43.9,56.1,36205,21.7

In [8]:
county_df.to_csv("county_parallel_coordinates.csv")